.card {
  box-shadow: 1px 2px 10px rgba(7, 7, 7, 0.2);
  cursor: pointer;
  transition: transform 0.1s;
  border-radius: 0 0 5px 5px;
  width: 90%;
  height: auto;
  &:hover {
    transform: scale(1.025);
  }
  & img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
  }
  & li {
    list-style: none;
  }

  & .breed_information {
    text-align: center;
    & h2 {
      font-family: "Rampart One", cursive;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    & dt {
      color: rgb(119, 118, 118);
      font-size: 1.5rem;
      &::after {
        content: "--";
      }
      &::before {
        content: "--";
      }
    }
    & dd {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}
/* animation */
.bounce {
  animation: bounce 1s;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    transform: translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

@media (min-width: 767px) {
  .app {
    padding: 0;
    padding-top: 60px;
  }
  .card {
    display: flex;
    margin-top: 30px;
    & .breed_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      & img {
        width: 420px;
        height: 420px;
        border-radius: 5px;
      }
    }
    & .breed_information {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      width: 50%;
      & h2 {
        font-size: 2.5rem;
      }
      & dt {
        font-size: 1.5rem;
      }
      & dd {
        font-size: 1.7rem;
      }
    }
  }
}
